/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.background {
    background-color: #FFEFE0
}

.absolute {
    position: absolute;
    top: 186px;
    left: 186px;
}

.container {
    position: relative;
}